@keyframes magnet {
  to {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  }
}
.game-view-wrapper {
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

.game-view-wrapper.wrap {
  flex-wrap: wrap;
}

.game-view-wrapper.nowrap {
  flex-wrap: nowrap;
}

.chessboard-view {
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3);
}
.chessboard-view .toolbar {
  display: flex;
  justify-content: space-around;
}
.chessboard-view .toolbar .btn {
  border: 1px solid #f00;
}

.gameInfoDisplay {
  width: 100%;
  overflow-y: scroll;
}

.collapsible-display .tab {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 5px;
  background-color: #1E1E1E;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3);
}
.collapsible-display .tab .label {
  height: 25px;
}
.collapsible-display .tab .btn.chevron {
  background-color: rgba(0, 0, 0, 0);
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
  width: 30px;
  height: 30px;
}
.collapsible-display .content {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
}
.collapsible-display .content.hidden {
  display: none;
}

.moves-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}
.moves-display .move-label-container {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
.moves-display .move-label-container .label {
  padding: 3px;
}
.moves-display .move-label-container .label.move-number {
  cursor: default;
  color: #CCD3F0;
}
.moves-display .move-label-container .label.move-label:hover {
  text-decoration: underline;
}

.metadata-display .metadata-tag {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  margin: 5px 10px;
}
.metadata-display .metadata-tag div {
  margin: 3px 5px;
}
